[user]
    email = gavin.gilmour@gmail.com
    name = Gavin Gilmour
[color]
    branch = auto
    status = auto
    diff = auto
    ui = auto
[status]
    relativePaths = false
[core]
    excludesfile = ~/.gitignore
    editor = /usr/bin/vim
    pager = less -FRSX
[alias]
    d = diff
    dc = diff --cached
    lc = log ORIG_HEAD.. --stat --no-merges
    export = !git cherry | sed -n 's/^+ //p' | xargs git cvsexportcommit -c -p -v -u -k
    hub = !open http://github.com/gaving/
    out = !git log --boundary $(git rev-list --max-count=1 --simplify-by-decoration HEAD^)..
    prettylog = !git log --decorate --stat --graph --pretty=format:'%Cgreen%h%Creset (%ar - %Cred%an%Creset), %s%n'
