*.swp
*.un~
.DS_Store
.gitconfig
.vimrc.local
.zsh/custom
.zsh/history*
config/nvim/.netrwhist
config/nvim/autoload/plug.vim.old
config/nvim/plugged
config/nvim/session
config/nvim/spell
config/nvim/tmp
config/configstore/
config/thefuck
tags
