[submodule ".vim/bundles/abolish"]
	path = .vim/bundles/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundles/afterimage"]
	path = .vim/bundles/afterimage
	url = git://github.com/tpope/vim-afterimage.git
[submodule ".vim/bundles/fugitive"]
	path = .vim/bundles/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundles/gist"]
	path = .vim/bundles/gist
	url = git://github.com/mattn/gist-vim.git
[submodule ".vim/bundles/git"]
	path = .vim/bundles/git
	url = git://github.com/tpope/vim-git.git
[submodule ".vim/bundles/nerdcommenter"]
	path = .vim/bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundles/nerdtree"]
	path = .vim/bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundles/pastie"]
	path = .vim/bundles/pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule ".vim/bundles/pathogen"]
	path = .vim/bundles/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundles/pyflakes"]
	path = .vim/bundles/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundles/ragtag"]
	path = .vim/bundles/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundles/repeat"]
	path = .vim/bundles/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundles/speeddating"]
	path = .vim/bundles/speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundles/surround"]
	path = .vim/bundles/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundles/swapit"]
	path = .vim/bundles/swapit
	url = git://github.com/mjbrownie/swapit.git
[submodule ".vim/bundles/syntastic"]
	path = .vim/bundles/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundles/unimpaired"]
	path = .vim/bundles/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundles/fuzzyfinder"]
	path = .vim/bundles/fuzzyfinder
	url = git://github.com/vim-bundles/fuzzyfinder.git
[submodule ".vim/bundles/endwise"]
	path = .vim/bundles/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule ".vim/bundles/markdown"]
	path = .vim/bundles/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundles/ack"]
	path = .vim/bundles/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundles/vcscommand"]
	path = .vim/bundles/vcscommand
	url = git://repo.or.cz/vcscommand.git
[submodule ".vim/bundles/diffchanges"]
	path = .vim/bundles/diffchanges
	url = git://github.com/jmcantrell/vim-diffchanges.git
[submodule ".vim/bundles/delimitmate"]
	path = .vim/bundles/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundles/snipmate"]
	path = .vim/bundles/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundles/command-t"]
	path = .vim/bundles/command-t
	url = git://git.wincent.com/command-t.git
