[user]
	email = gavin.gilmour@gmail.com
	name = Gavin Gilmour
[color]
	branch = auto
	status = auto
	diff = auto
	ui = auto
[alias]
    export = !git cherry | sed -n 's/^+ //p' | xargs git cvsexportcommit -c -p -v -u -k
    out = !git log --boundary $(git rev-list --max-count=1 --simplify-by-decoration HEAD^)..

[core]
	editor = /usr/bin/vim
