*.bak
.tool-versions
base16*
coc
configstore
docker
git/local
glab-cli
htop
httpie
iterm2
karabiner
lab*
lazygit
npm
nvim
nvm
package*
thefuck
tmux/plugins
wslu
yarn
zsh/.p10k.zsh
zsh/.zcomp*
zsh/.zsh_sessions
zsh/custom
zsh/functions/custom
