[submodule ".vim/bundles/abolish"]
	path = .vim/bundles/abolish
	url = http://github.com/tpope/vim-abolish.git
[submodule ".vim/bundles/afterimage"]
	path = .vim/bundles/afterimage
	url = http://github.com/tpope/vim-afterimage.git
[submodule ".vim/bundles/fugitive"]
	path = .vim/bundles/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundles/gist"]
	path = .vim/bundles/gist
	url = http://github.com/mattn/gist-vim.git
[submodule ".vim/bundles/git"]
	path = .vim/bundles/git
	url = http://github.com/tpope/vim-git.git
[submodule ".vim/bundles/nerdcommenter"]
	path = .vim/bundles/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundles/nerdtree"]
	path = .vim/bundles/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundles/pastie"]
	path = .vim/bundles/pastie
	url = http://github.com/tpope/vim-pastie.git
[submodule ".vim/bundles/pathogen"]
	path = .vim/bundles/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundles/pyflakes"]
	path = .vim/bundles/pyflakes
	url = http://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundles/ragtag"]
	path = .vim/bundles/ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundles/repeat"]
	path = .vim/bundles/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule ".vim/bundles/speeddating"]
	path = .vim/bundles/speeddating
	url = http://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundles/surround"]
	path = .vim/bundles/surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundles/swapit"]
	path = .vim/bundles/swapit
	url = http://github.com/mjbrownie/swapit.git
[submodule ".vim/bundles/syntastic"]
	path = .vim/bundles/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule ".vim/bundles/unimpaired"]
	path = .vim/bundles/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundles/endwise"]
	path = .vim/bundles/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule ".vim/bundles/markdown"]
	path = .vim/bundles/markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule ".vim/bundles/ack"]
	path = .vim/bundles/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule ".vim/bundles/diffchanges"]
	path = .vim/bundles/diffchanges
	url = http://github.com/jmcantrell/vim-diffchanges.git
[submodule ".vim/bundles/delimitmate"]
	path = .vim/bundles/delimitmate
	url = http://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundles/snipmate"]
	path = .vim/bundles/snipmate
	url = http://github.com/gaving/snipmate.vim.git
[submodule ".vim/bundles/command-t"]
	path = .vim/bundles/command-t
	url = http://github.com/wincent/Command-T.git
[submodule ".vim/bundles/javascript"]
	path = .vim/bundles/javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundles/cocoa"]
	path = .vim/bundles/cocoa
	url = http://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundles/space"]
	path = .vim/bundles/space
	url = http://github.com/spiiph/vim-space.git
[submodule ".vim/bundles/supertab"]
	path = .vim/bundles/supertab
	url = http://github.com/ervandew/supertab.git
[submodule ".vim/bundles/align"]
	path = .vim/bundles/align
	url = http://github.com/tsaleh/vim-align.git
[submodule ".vim/bundles/matchit"]
	path = .vim/bundles/matchit
	url = http://github.com/tsaleh/vim-matchit.git
[submodule ".vim/bundles/camelcasemotion"]
	path = .vim/bundles/camelcasemotion
	url = http://github.com/ujihisa/camelcasemotion.git
[submodule ".vim/bundles/scratch"]
	path = .vim/bundles/scratch
	url = http://github.com/duff/vim-scratch.git
[submodule ".vim/bundles/gundo"]
	path = .vim/bundles/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundles/argtextobj"]
	path = .vim/bundles/argtextobj
	url = http://github.com/vim-scripts/argtextobj.vim.git
[submodule ".vim/bundles/indenttextobj"]
	path = .vim/bundles/indenttextobj
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundles/fuzzyfinder"]
	path = .vim/bundles/fuzzyfinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/bundles/L9"]
	path = .vim/bundles/L9
	url = http://github.com/vim-scripts/L9.git
[submodule ".vim/bundles/sqlcase"]
	path = .vim/bundles/sqlcase
	url = http://github.com/gaving/vim-sqlcase.git
[submodule ".vim/bundles/easygrep"]
	path = .vim/bundles/easygrep
	url = https://github.com/vim-scripts/EasyGrep.git
[submodule ".vim/bundles/markdown-preview"]
	path = .vim/bundles/markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
